In [1]:
def my_func(a, b, c):
    print("a={0}, b={1}, c={2}".format(a, b, c))

In [2]:
my_func(1,2,3)

a=1, b=2, c=3

In [3]:
my_func(1,2)

TypeError: my_func() missing 1 required positional argument: 'c'

In [4]:
def my_func(a, b=2, c):
    print("a={0}, b={1}, c={2}".format(a, b, c))

SyntaxError: non-default argument follows default argument (<ipython-input-4-ef504297bb4d>, line 1)

In [5]:
def my_func(a, b=2, c=3):
    print("a={0}, b={1}, c={2}".format(a, b, c))

In [6]:
my_func(10,20,30)

a=10, b=20, c=30

In [7]:
my_func(10,20)

a=10, b=20, c=3

In [8]:
my_func(10)

a=10, b=2, c=3

In [9]:
my_func()

TypeError: my_func() missing 1 required positional argument: 'a'

In [10]:
def my_func(a=1, b=2, c=3):
    print("a={0}, b={1}, c={2}".format(a, b, c))

In [11]:
my_func(c=30, b=20, a=10)

a=10, b=20, c=30

In [12]:
my_func(10, c=30, b=20)

a=10, b=20, c=30

In [13]:
my_func(10, c=30)

a=10, b=2, c=30

In [14]:
####Unpacking iterables

In [15]:
a = (1, 2, 3)

In [16]:
type(a)

tuple

In [17]:
a = 1,2,3

In [18]:
type(a)

tuple

In [19]:
a

(1, 2, 3)

In [20]:
a= (1)

In [21]:
type(a)

int

In [22]:
a = ('a')

In [24]:
type (a)

str

In [25]:
a = ('a',)

In [26]:
type(a)

tuple

In [27]:
a = 100,

In [28]:
type(a)

tuple

In [29]:
a

(100,)

In [30]:
a = ()

In [31]:
type(a)

tuple

In [32]:
a = ,

SyntaxError: invalid syntax (<ipython-input-32-95e8fdfb9ab8>, line 1)

In [33]:
a = (,)

SyntaxError: invalid syntax (<ipython-input-33-95a348146c10>, line 1)

In [34]:
a, b, c = [1, 'a', 3.14]

In [35]:
a

1

In [36]:
b

'a'

In [37]:
c

3.14

In [38]:
(a, b, c) = [1, 2, 3]

In [39]:
a

1

In [40]:
b

2

In [41]:
3

3

In [42]:
(a, b, c) = (1, 2, 3)

In [43]:
a

1

In [44]:
b

2

In [45]:
c

3

In [46]:
a, b = 10, 20

In [47]:
a

10

In [48]:
b

20

In [49]:
type(a)

int

In [50]:
a, b, c = 10, [10,20], {'a', 'b'}

In [51]:
type(b)

list

In [52]:
type(a)

int

In [54]:
type(c)

set

In [55]:
a

10

In [56]:
b

[10, 20]

In [57]:
c

{'a', 'b'}

In [64]:
a, b = b, a #RHS evaluated first # swapping variables # refrences to the memory address # no need to use a temp variable in this case

In [65]:
a

[10, 20]

In [66]:
b

10

In [67]:
print(a,b)

[10, 20] 10

In [68]:
for e in 'XYZ':
    print(e)

X
Y
Z

In [69]:
a, b, c = 'XYZ'

In [70]:
print(a, b, c)

X Y Z

In [71]:
s = {1,2,3}

In [72]:
s[0] #sets are not iterable coz there is no sequence

TypeError: 'set' object is not subscriptable

In [73]:
print(s)

{1, 2, 3}

In [74]:
print(s)

{1, 2, 3}

In [77]:
s = {'p', 'y', 't', 'h', 'o', 'n'} #no sequence cause memory reference are not contineous

In [78]:
print(s)

{'t', 'o', 'h', 'n', 'p', 'y'}

In [79]:
for e in s:
    print(e)

t
o
h
n
p
y

In [91]:
d = {'a': 1, 'b': 2, 'c':3, 'd': 4} #prints only the key values of a list

In [92]:
for e in d:
    print(e)

a
b
c
d

In [93]:
a, b, c, d = d #no longer pointing to the dictionary but variables unpacked and ordered as LHS

In [94]:
a

'a'

In [95]:
b

'b'

In [96]:
c

'c'

In [97]:
d

'd'

In [109]:
d = {'a': 1, 'b': 2, 'c':3, 'd': 4} #sequence doesn't matter

In [101]:
for e in d:
    print(e)

a
b
c
d

In [102]:
for e in d.values(): #get the values not the keys
    print(e)

1
2
3
4

In [103]:
a,b,c,d = d.values() #get the values and assigne it to variables

In [104]:
a

1

In [105]:
b

2

In [106]:
c

3

In [107]:
d

4

In [110]:
for e in d.items(): #tuples of keys and values
    print(e)

('a', 1)
('b', 2)
('c', 3)
('d', 4)

In [114]:
for a,b in d.items(): #tuples of keys and values
    print('key={0}, value={1}'.format(a,b))

key=a, value=1
key=b, value=2
key=c, value=3
key=d, value=4

In [115]:
####Extended unpacking

In [116]:
l = [1,2,3,4,5,6]

In [117]:
a = l[0]
b = l[1:]

In [118]:
print(a)
print(b)

1
[2, 3, 4, 5, 6]

In [119]:
a, b = l[0], l[1:]
print(a)
print(b)

1
[2, 3, 4, 5, 6]

In [121]:
a, *b = l #only works with iterables that can be indexed
print(a)
print(b)

1
[2, 3, 4, 5, 6]

In [122]:
s = {1,2,3}
a = s[0]
b = s[1:]

TypeError: 'set' object is not subscriptable

In [123]:
s = 'python'

In [127]:
a, *b= s #* operation alwasys results in a list

In [128]:
a

'p'

In [129]:
b

['y', 't', 'h', 'o', 'n']

In [130]:
[a,b,c] = 'xyz'

In [131]:
a

'x'

In [132]:
b

'y'

In [133]:
c

'z'

In [134]:
a, b, *c = 'python'

In [135]:
a

'p'

In [136]:
b

'y'

In [137]:
c

['t', 'h', 'o', 'n']

In [138]:
a, b, *c, d = 'python'

In [139]:
a

'p'

In [140]:
b

'y'

In [141]:
c

['t', 'h', 'o']

In [142]:
d

'n'

In [143]:
s = 'python' # through slicing
a, b, c, d = s[0], s[1], s[2:-1], s[-1]

In [144]:
a

'p'

In [145]:
b

'y'

In [146]:
c

'tho'

In [147]:
d

'n'

In [148]:
s = 'python' # through slicing
a, b, c, d = s[0], s[1], s[2:-1], s[-1]
*c, = c

In [149]:
c

['t', 'h', 'o']

In [150]:
a = list(c)

In [151]:
a

['t', 'h', 'o']

In [154]:
l1 = [1,2,3] #concatenate list
l2 = [3,5,6]
l = [*l1, *l2]

In [155]:
print(l)

[1, 2, 3, 3, 5, 6]

In [156]:
l1 = [1,2,3]
s = 'abc'
[*l1, *s]

[1, 2, 3, 'a', 'b', 'c']

In [157]:
l1 = [1,2,3]
s1 = {'x','y','z'} #not sure about the order in sets
[*l1, *s1]

[1, 2, 3, 'y', 'z', 'x']

In [158]:
s1 = 'abc'
s2 = 'cde'
[*s1, *s2]

['a', 'b', 'c', 'c', 'd', 'e']

In [159]:
s1 = 'abc'
s2 = 'cde'
{*s1, *s2} #no duplicates in sets

{'a', 'b', 'c', 'd', 'e'}

In [160]:
s = {10, -99, 2, 'd'}

In [161]:
for c in s:
    print(c)

d
10
2
-99

In [162]:
a,b,c,d = s
print(a,b,c,d)

d 10 2 -99

In [164]:
a, b, *c = s #not useful lack of ordering
print(a)
print(b)
print(c)

d
10
[2, -99]

In [165]:
s

{-99, 10, 2, 'd'}

In [166]:
list(s)

['d', 10, 2, -99]

In [167]:
*c, =s

In [168]:
c

['d', 10, 2, -99]

In [169]:
s1 = {1,2,3}
s2 = {3,4,5}

In [170]:
s1 + s2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [171]:
list(s1, s2)

TypeError: list expected at most 1 arguments, got 2

In [172]:
{*s1, *s2}

{1, 2, 3, 4, 5}

In [173]:
[*s1, *s2]

[1, 2, 3, 3, 4, 5]

In [174]:
s1.union(s2)

{1, 2, 3, 4, 5}

In [175]:
s3 = {5,6,7}
s4 = {7,8,9}
s1.union(s2).union(s3).union(s4)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [176]:
{*s1, *s2, *s3, *s4}

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [177]:
[*s1, *s2, *s3, *s4]

[1, 2, 3, 3, 4, 5, 5, 6, 7, 8, 9, 7]

In [178]:
d1 = {'key1': 1, 'key2': 2}
d2 = {'key2': 3, 'key4': 4}

In [179]:
{*d1, *d2}

{'key1', 'key2', 'key4'}

In [180]:
[*d1, *d2]

['key1', 'key2', 'key2', 'key4']

In [181]:
d1.union(d2)

AttributeError: 'dict' object has no attribute 'union'

In [182]:
{**d1, **d2} #getting both key and values; in case of duplicate second will be over written

{'key1': 1, 'key2': 3, 'key4': 4}

In [183]:
a, b,e = [1,2,'xyz']

In [184]:
a

1

In [185]:
b

2

In [186]:
e

'xyz'

In [189]:
c,d,f = e

In [190]:
c

'x'

In [191]:
d

'y'

In [192]:
f

'z'

In [193]:
a,b,(c,d,*e) = [1,2,'python']

In [194]:
e

['t', 'h', 'o', 'n']

In [195]:
c

'p'

In [196]:
d

'y'

In [197]:
c, d, e

('p', 'y', ['t', 'h', 'o', 'n'])

In [198]:
l =[1,2,3,4, 'python']

In [199]:
a, *b,(c,d,*e) = l

In [200]:
print(a,b,c,d,e)

1 [2, 3, 4] p y ['t', 'h', 'o', 'n']

In [203]:
l[0], l[1:-1], l[-1][0], l[-1][1], list(l[-1][2:])

(1, [2, 3, 4], 'p', 'y', ['t', 'h', 'o', 'n'])

In [204]:
a,b,c,d,e = l[0], l[1:-1], l[-1][0], l[-1][1], list(l[-1][2:])
print(a,b,c,d,e)

1 [2, 3, 4] p y ['t', 'h', 'o', 'n']

In [205]:
l =[1,2,3,4, ['a','b','c','d']]

In [206]:
a,b,c,d,e = l[0], l[1:-1], l[-1][0], l[-1][1], list(l[-1][2:])
print(a,b,c,d,e)

1 [2, 3, 4] a b ['c', 'd']

In [207]:
### *args

In [208]:
a,b,*c = 10,20,'a','b'
a,b,c

(10, 20, ['a', 'b'])

In [211]:
def func1(a,b,*c):
    print(a)
    print(b)
    print(c)

In [212]:
func1(10,20)

10
20
()

In [213]:
def func1(a,b,*args): #rest of the variables in *args; no arguments after it
    print(a)
    print(b)
    print(args)

In [214]:
func1(10,20)

10
20
()

In [215]:
func1(10,20,30,40,50)

10
20
(30, 40, 50)

In [216]:
def avg(*args):
    print(args)

In [217]:
avg()

()

In [218]:
avg(10,20,30)

(10, 20, 30)

In [219]:
def avg(*args):
    count = len(args)
    total = sum(args)
    return total/count
    print(args)

In [220]:
avg (2,3,4,5)

3.5

In [221]:
avg() #length of args is 0; divided by zero; check next

ZeroDivisionError: division by zero

In [222]:
def avg(*args):
    count = len(args)
    total = sum(args)
    if count == 0:
        return 0
    else:
        return total/count
    print(args)

In [223]:
avg()

0

In [226]:
def avg(*args):
    count = len(args)
    total = sum(args)
    return count and total/count #short circuiting; check 0 or none -> return 0 else return total/count

In [227]:
avg()

0

In [229]:
avg(1,2,3,4,5,6)

3.5

In [230]:
def avg(a, *args): #send atleast one parameter
    count = len(args) + 1
    total = sum(args) + a
    return total/count #short circuiting; check 0 or none -> return 0 else return total/count

In [231]:
avg()

TypeError: avg() missing 1 required positional argument: 'a'

In [232]:
avg(1)

1.0

In [233]:
avg(!)

SyntaxError: invalid syntax (<ipython-input-233-b8b9025bed20>, line 1)

In [234]:
def func1(a,b,c):
    print(a)
    print(b)
    print(c)

In [235]:
l = [10,20,30]

In [236]:
func1(l) #doesnt' send all parameters; needs unpacking first using *l and then pass it to the func

TypeError: func1() missing 2 required positional arguments: 'b' and 'c'

In [237]:
func1(*l)

10
20
30

In [241]:
def func1(a,b,c,*args): #args exhausts all the positional arguments not keyword
    print(a)
    print(b)
    print(c)
    print(args)

In [242]:
l = [10,20,30,40,50]

In [243]:
func1(*l)

10
20
30
(40, 50)

In [244]:
##Keyword arguments

In [245]:
def func1(a,b,c):
    print(a,b,c)

In [246]:
func1(1,2,3)

1 2 3

In [248]:
func1(1,c=3,b=2)

1 2 3

In [249]:
func1(c=3,b=2,a=1)

1 2 3

In [250]:
def func1(a,b,*args):
    print(a,b,args)

In [251]:
func1(1,2,3,4,5)

1 2 (3, 4, 5)

In [252]:
def func1(a,b,*args,d): #d now becomes a keyword argument because args catches all the positional arguments and d is not specified
    print(a,b,args,d)

In [253]:
func1(1,2,3,4,5)

TypeError: func1() missing 1 required keyword-only argument: 'd'

In [254]:
func1(1,2,3,4,d=5)

1 2 (3, 4) 5

In [255]:
def func1(*args, d):
    print(args,d)

In [256]:
func1(1,2,3,d='a')

(1, 2, 3) a

In [257]:
func1(d='a')

() a

In [259]:
def func1(*, d): #only keyword arguments accepted cause after * it's not accepting any positional arguments
    print(d)

In [260]:
func1(1,2,3)

TypeError: func1() takes 0 positional arguments but 3 were given

In [261]:
func1(d=10)

10

In [262]:
func1(d=--)

SyntaxError: invalid syntax (<ipython-input-262-41fcf10e572a>, line 1)

In [263]:
def func1(a,b,*,d): #using only *; number of parameters before * = max number of positional arguments it can accept
    print(a,b,d)

In [264]:
func1(1,2,3,d=4)

TypeError: func1() takes 2 positional arguments but 3 positional arguments (and 1 keyword-only argument) were given

In [265]:
func1(1,2,d=4)

1 2 4

In [267]:
def func1(a, b=2, *args,d):
    print(a,b,args,d)

In [268]:
func1(1,5,4,3,2,d=6)

1 5 (4, 3, 2) 6

In [269]:
def func(a,b=20,*args,d=0,e): #e is required keyword argument
    print(a,b,args,d,e)

In [270]:
func(5,3,3,2,1)

TypeError: func() missing 1 required keyword-only argument: 'e'

In [271]:
func(4,3,2,4,5,e=10)

4 3 (2, 4, 5) 0 10

In [272]:
### kwargs - keyword exhast to a dictionary key value pairs

In [273]:
def func1(**kwargs):
    print(kwargs)

In [274]:
func1(a=1,b=2,c=3,d=4,e=5)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [275]:
def func1(*args, **kwargs):
    print(args)
    print(kwargs)

In [276]:
func1(12,3,4,56,d=8,e=3)

(12, 3, 4, 56)
{'d': 8, 'e': 3}

In [278]:
func1(1,2,3,a=1,5) #use positional parameters before the keyword while using both

SyntaxError: positional argument follows keyword argument (<ipython-input-278-505fb3ffdaf8>, line 1)

In [279]:
def func1(a,b,*,d,**kwargs):
    print(a)
    print(b)
    print(d)
    print(kwargs)

In [280]:
func1(1,2,d=20,x=100,y=200)

1
2
20
{'x': 100, 'y': 200}

In [281]:
##Putting it all together

In [282]:
def func1(a,b,*args):
    print(a,b, args)

In [283]:
func1(1,2,'x','y','z')

1 2 ('x', 'y', 'z')

In [284]:
#using *args and default values of arguments beware of using more positional parameters after the one's defined in the function definition

In [285]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [286]:
print(1,2,3)

1 2 3

In [287]:
print(1,2,3)
print(4,5,6)

1 2 3
4 5 6

In [289]:
print(1,2,3, sep='-', end= '***')
print(4,5,6, sep='-')

1-2-3***4-5-6

In [290]:
def calc_hi_lo_avg(*args, log_to_console=False):
    hi = int(bool(args)) and max(args)
    lo = int(bool(args)) and min(args)
    avg = (hi+lo) /2
    if log_to_console:
        print("high={0}, low={1}, avg={2}".format(hi,lo,avg))
    return avg

In [292]:
is_debug=True
avg = calc_hi_lo_avg(1,2,3,4,5, log_to_console=is_debug)
print(avg)

high=5, low=1, avg=3.0
3.0

In [293]:
### Simple function timer

In [294]:
import time

In [295]:
def time_it(fn, *args, **kwargs):
    print(args, kwargs)

In [296]:
time_it(print, 1,2,3, sep=' - ', end= '***')

(1, 2, 3) {'sep': ' - ', 'end': '***'}

In [299]:
def time_it(fn, *args, **kwargs):
    fn(*args, **kwargs) #use unpacking * for tuple ** for list

In [300]:
time_it(print, 1,2,3, sep=' - ', end= '***')

1 - 2 - 3***

In [301]:
def time_it(fn, *args, rep=1, **kwargs):
    for i in range(rep):
        fn(*args, **kwargs)

In [302]:
time_it(print, 1,2,3, sep=' - ', end= '***', rep=5)

1 - 2 - 3***1 - 2 - 3***1 - 2 - 3***1 - 2 - 3***1 - 2 - 3***

In [303]:
def time_it(fn, *args, rep=1, **kwargs):
    start = time.perf_counter()
    for i in range(rep):
        fn(*args, **kwargs)
    end = time.perf_counter()
    return (end - start) /rep

In [304]:
time_it(print, 1,2,3, sep=' - ', end= '***', rep=5)

1 - 2 - 3***1 - 2 - 3***1 - 2 - 3***1 - 2 - 3***1 - 2 - 3***

7.736000043223612e-05

In [305]:
def computer_power_1(n, *, start=1, end):
    #using a for loop
    results=[]
    for i in range(start, end):
        results.append(n**i)
    return results

In [306]:
computer_power_1(2, end=5)

[2, 4, 8, 16]

In [307]:
def computer_power_2(n, *, start=1, end):
    #using list comprehension
    return [n**i for i in range(start,end)]

In [308]:
computer_power_2(2, end=5)

[2, 4, 8, 16]

In [310]:
def computer_power_3(n, *, start=1, end):
    #using generators expression
    return(n**i for i in range(start,end))

In [311]:
list(computer_power_3(2, end=5))

[2, 4, 8, 16]

In [315]:
time_it(computer_power_1, 2, start=0, end=20000, rep=5)

0.48428343999985374

In [316]:
time_it(computer_power_2, 2, start=0, end=20000, rep=5)

0.46489845999967655

In [314]:
time_it(computer_power_3, 2, start=0, end=20, rep=5)

1.2600001355167479e-06

In [318]:
##Default Values - Beware!!

In [319]:
from datetime import datetime

In [320]:
print(datetime.utcnow())

2019-12-19 15:48:30.154067

In [321]:
def log(msg, *, dt=datetime.utcnow()):
    print('{0}: {1}'.format(dt, msg))

In [322]:
log('message 1', dt='2001-01-01 00:00:00.000')

2001-01-01 00:00:00.000: message 1

In [323]:
log('message 2')

2019-12-19 15:49:12.660326: message 2

In [325]:
log('message 3') #date and time will remain the same because it's evaluated when the function was created till it's lifetime. sol: rerun the definition of the function or below

2019-12-19 15:49:12.660326: message 3

In [326]:
def log(msg, *, dt=None):
    dt = dt or datetime.utcnow()
    print('{0}: {1}'.format(dt, msg))

In [327]:
log('Message 4')

2019-12-19 15:51:57.267863: Message 4

In [328]:
my_list = [1,2,3]
def func(a=my_list):
    print(a)

In [329]:
func()

[1, 2, 3]

In [330]:
my_list.append(4)

In [331]:
my_list

[1, 2, 3, 4]

In [332]:
func()

[1, 2, 3, 4]

In [333]:
#my_list value changed and will be used hereafter; to not update the mutable object use tuple where append function doesn't work

In [334]:
##PArameter defauls - Beware 2

In [339]:
def add_item(name, quantity, unit, grocery_list):
    grocery_list.append("{0} {1} {2}".format(name, quantity, unit))
    return grocery_list

In [340]:
store1 = []
store2 = []

In [341]:
add_item('banana',2,'units',store1)
add_item('milk', 1, 'litre', store2)

['milk 1 litre']

In [342]:
print(store1)

['banana 2 units']

In [343]:
add_item('python', 1, 'medium-rare', store2)

['milk 1 litre', 'python 1 medium-rare']

In [344]:
print(store2)

['milk 1 litre', 'python 1 medium-rare']

In [345]:
def add_item(name, quantity, unit, grocery_list=[]):
    grocery_list.append("{0} {1} {2}".format(name, quantity, unit))
    return grocery_list

In [346]:
store1

['banana 2 units']

In [347]:
store2

['milk 1 litre', 'python 1 medium-rare']

In [348]:
del store1
del store2

In [349]:
store1 = add_item('banana', 2, 'units')
add_item('milk', 1, 'litre', store1)

['banana 2 units', 'milk 1 litre']

In [350]:
store2 = add_item('python', 1, 'medium-rare')

In [351]:
print(store2)

['banana 2 units', 'milk 1 litre', 'python 1 medium-rare']

In [353]:
store1 is store2

True

In [354]:
def add_item(name, quantity, unit=1, grocery_list=None):
    if not grocery_list:
        grocery_list = []
    grocery_list.append("{0} {1} {2}".format(name, quantity, unit))
    return grocery_list

In [355]:
store1 = add_item('banana', 2, 'units')
add_item('milk', 1, 'litre', store1)

['banana 2 units', 'milk 1 litre']

In [356]:
store2 = add_item('python', 1, 'medium-rare')

In [357]:
print(store1)

['banana 2 units', 'milk 1 litre']

In [358]:
print(store2)

['python 1 medium-rare']

In [359]:
store1 is store2 #since store was defined earlier and list is created once; instead use the inside function to create a new list

False

In [360]:
def factorial(n):
    if n<1:
        return 1
    else:
        print('calculating {0}!'.format(n))
        return n * factorial(n-1)

In [361]:
factorial(3)

calculating 3!
calculating 2!
calculating 1!

6

In [362]:
factorial(4)

calculating 4!
calculating 3!
calculating 2!
calculating 1!

24

In [374]:
def factorial(n, *, cache={}):
    if n<1:
        return 1
    elif n in cache:
        return cache[n]
    else:
        print('calculating {0}!'.format(n))
        return n * factorial(n-1, cache=cache)
        cache[n] = result
        return result

In [368]:
cache = {}

In [375]:
factorial(3, cache=cache)

calculating 3!
calculating 2!
calculating 1!

6

In [376]:
print(cache)

{}

In [377]:
factorial(4, cache=cache)

calculating 4!
calculating 3!
calculating 2!
calculating 1!

24

In [378]:
print(cache)

{}

In [379]:
factoraial(3)

NameError: name 'factoraial' is not defined

In [380]:
factorial(3)

calculating 3!
calculating 2!
calculating 1!

6

In [381]:
factorial(3)

calculating 3!
calculating 2!
calculating 1!

6

In [382]:
print(cache)

{}